#page1{
  padding:10vh 0 0 0;
  background-color: #f5cf4c;
  .image{
    //max-width: 100%;
    display: inline-block;
    padding-left: 1em;
    padding-bottom: 8em;
  }
  .heading{
    font-weight: bold;
    margin-left:-6em;
    font-size:18px;
  }
}