#page2{
  .half{
    background-color: #49240B;
    padding-top: 23em;
    padding-left: 3em;
    color: white;
    font-size: 14px;
    display: inline-block;
  }

  .half-height {
    margin: 0 -15px;

    img {
      width: 100%;
      height: 50vh;
    }
  }
}